@mixin left {
  position: absolute;
  left: 28%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $black-light;
}

@mixin button {
  background-color: $danger;
  padding: 12px 50px;
  border: none;
  color: $white;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Style Heading*/

@mixin heading {
  font-size: 2.8rem;
  line-height: 3.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: $headingcolor;
}

@mixin text {
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 1.5rem;
}
@mixin subheading {
  font-size: 36px;
  line-height: 40px;
  color: $black-light;
  text-align: center;
  margin: 25px 0;
  font-family: "Roboto Regular";
  font-weight: bold;
}

@mixin btngrey {
  background-color: #e8eaeb;
  font-size: 18px;
  line-height: 36px;
  cursor: pointer;
  min-width: 308px;
  font-weight: bold;
  padding: 7px;
  border: none;
  text-align: center;
  color: $black-light;
  text-decoration: none;
  transition: all 0.3s ease;
}

@mixin card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;

  margin: 10px;
  height: 100%;
  cursor: pointer;
}
