// @import "../styles/font";

$margin-base: 16px;
$padding-base: 16px;
$base-font-size: 16;
$base-line-height: 16px;
$font-unit: rem;

$breakpoint-xsm: 450px;
$breakpoint-sm: 630px;
$breakpoint-m: 1024px;
$breakpoint-l: 1366px;
$breakpoint-w: 1920px;

$color-white: #fff;
$color-backgroud-grey: #f4f4f4;
