* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto-Regular", sans-serif;
}
body {
  width: 100%;
  font-size: 10px;
  font-family: "Roboto-Regular", sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: $textcolor;
  font-weight: 400;
}

section {
  padding: 7rem 0;
}

.container {
  width: 100%;
  padding: 0 2.5rem;
  margin: 0 auto;
  max-width: 98rem;
}
