header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 80px;

    & .nav-logo {
      width: 7rem;
      height: 7rem;
    }

    .right-block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & span {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      & .pta--deparatment {
        & a {
          text-decoration: none;
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: $grey-light;
          font-family: "Roboto-Regular";
        }
      }
      & .pta-language {
        color: #7a858d;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }
}

.hamburger,
.header-logo-center,
.navbar-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    flex-direction: column !important ;
    background-color: #fafafa;
    /*width: 100%;*/
    padding: 0 30px 30px;
    width: 320px;
    text-align: left;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    overflow-y: visible;
    transition: all 0.4s;
  }
  .header-logo-center {
    display: block;
    margin: 0 auto;
    & img {
      width: 100% !important;
      max-width: 400px !important;
      height: auto !important;
    }
  }
  .navbar-mobile {
    display: block;
  }
  .right-block,
  .navbar-visible-desktop,
  .header-logo {
    display: none !important;
  }

  .active {
    left: 0;
  }

  ul li {
    margin: 2.5rem 0;
  }
  .right-block {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
