header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 80px;

    &__logo {
      img {
        width: 100%;
        height: auto;
      }
    }

    &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu-first-level {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
    &__item {
      padding: 20px;

      &.active .menu-first-level__flyout {
        opacity: 1;
        visibility: visible;
      }
      & a {
        color: $textcolor;
        padding: 10px;
        text-decoration: none;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding-bottom: 30px;
      }
    }
    &__flyout {
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      width: 100%;
      left: 0;
      position: absolute;
      transition: height 1s ease;
      height: 0px;
      opacity: 0;
      visibility: hidden;
      cursor: pointer;
      list-style: none;
      top: 70px;
      z-index: -1;

      & li {
        padding: 0.5rem 0;
        cursor: pointer;
        list-style-type: none;
      }
      & a {
        font-weight: 500;
        cursor: pointer;
      }
      & .arrow::after {
        /* transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      border: solid $danger;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      content: "";*/
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & span {
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
      }
      & .pta--deparatment {
        & a {
          text-decoration: none;
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: $grey-light;
        }
      }
      & .pta-language {
        color: #7a858d;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
      & .pta--search {
        svg {
          fill: #7a858d;
          vertical-align: middle;
          max-width: 100%;
          height: auto;
        }
      }
      & .pta-shop {
        svg {
          fill: #7a858d;
          width: auto;
          height: auto;
          vertical-align: initial;
        }
      }
    }
  }
}
