@import "../grid/breakpoint";

header {
  background-color: #fff;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    & .nav-logo {
      width: 7rem;
      height: 7rem;
    }

    & .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & li {
          list-style: none;

          padding: 0 1.5rem;

          & a {
            color: #767676;
            text-decoration: none;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.9rem;
          }
        }
      }
    }
    .right-block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & span {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      & .pta--deparatment {
        & a {
          text-decoration: none;
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: $grey-light;
          font-family: "Roboto-Regular";
        }
      }
      & .pta-language {
        color: #7a858d;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }
}

.hamburger {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column !important ;
    background-color: #fafafa;
    width: 100%;

    text-align: left;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .right-block {
    display: none !important;
  }

  .active {
    left: 0;
  }

  ul li {
    margin: 2.5rem 0;
  }
  .right-block {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
